body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', 'sans-serif';
  overflow: auto;
}

//app container for app on website
.app-container {
  display: flex;
  height: 500px;
  // max-height: 500px; //comment height:500px and uncomment this to achieve height responsive;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}


//scrollbar styles
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-top: 5px solid transparent;
  border-radius: 10px;
  background-color: #e0e0e0;
  background-clip: padding-box;
}
