//whole sidebar css || navigation bar
.sidebar {
  position: relative;
  border-radius: 10px 0 0 10px;
  background: rgba(16,16,34,0.9);
  -webkit-backdrop-filter: blur(10px);

  //div holfin window buttons
  &__controls {
    display: flex;
    padding: 15px;
    border-radius: 10px 0 0 0;
    background: #101022; //rgba(34,36,54,0.1);

    //common css for window buttons
    .control {
      width: 10px;
      height: 10px;
      margin-right: 10px;
      cursor: pointer;
      border-radius: 100%;
    }

    //every single window button color
    .close {
      background: #ff594f;
    }

    .minimize {
      background: #ffbc1b;
    }

    .maximize {
      background: #00cd46;
    }
  }

  //list of filters - all, open, closed
  &__list {

    //single filter
    .sidebar__filter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      cursor: pointer;
      font-size: 14px;

      &--selected {
        background: #292a48;
      }

      &:hover {
        background: #292a48;
      }

      &:active {
        background: #383a63;
      }

      //filter title with svg
      .filter__icon-name {
        display: flex;
        align-items: center;

        svg path {
          fill: #FFF;
        }

        .icon-title {
          margin-right: 40px;
          margin-left: 10px;
          color: #FFF;
        }
      }

      //last part of filter - counter of issues
      .filter__count {
        min-width: 16px;
        text-align: right;
        color: #8a8995;
      }
    }
  }
}
